body {
  font-family: "Raleway", sans-serif;
}

/* cambio color Header que no funcionó en bootstrap52
#headercolor{
  background: linear-gradient(to right, hsl(274, 100%, 35%), #008AFD);
} */



/*Logo Principal Header*/
.img-fluid {
  width: 8rem;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

/*  Fondo sin funcionar en mobile-revisar en clases
  #mis-trabajos{
  background-image: url("../img/fondo1.png")!important;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: left;
} */

.card{
  border-radius: 2rem;
  padding: 5px;
  margin: 10px;

  }

  .groupcard{
margin: 0 2rem;
  }

/* Colores Iconos */
.iconoscolor{
  color:#3C0480
}

#mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 2rem;
}


/* Contacto */

#contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

}